.header {
  &__container {
  }

  @media (max-width: $mobile) {
    padding: rem(12) 0;
    border-bottom: rem(1) solid cl(additional-divider);
  }

  &-top {
    padding: rem(10) 0;
    border-bottom: rem(1) solid cl(additional-divider);

    @media (max-width: $mobile) {
      display: none;
    }

    &__links {
      display: flex;
      justify-content: flex-end;
      padding: 0 rem(10) 0 0;

      ul {
        display: flex;
        gap: rem(32);

        li {
          a {
            line-height: 133%;
          }
        }
      }
    }
  }
  &-body {
    padding: rem(14) 0 rem(10);
    display: flex;
    align-items: center;

    @media (max-width: $mobile) {
      padding: 0;
      justify-content: center;
    }

    &__logo {
      flex: 0 0 auto;
      width: rem(192);

      @media (max-width: $tablet) {
        width: rem(140);
      }
      @media (max-width: $mobile) {
        width: rem(150);
        margin: 0 auto;
        transform: translate(rem(18), 0);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__catalog {
      margin: 0 0 0 rem(20);

      @media (max-width: $tablet) {
        margin: 0 0 0 rem(10);
      }
      @media (max-width: $mobile) {
        display: none;
      }
    }
    &__search {
      width: 100%;
      margin: 0 rem(24);
      @media (max-width: $tablet) {
        margin: 0 rem(10);
      }
      @media (max-width: $mobile) {
        display: none;
      }
    }

    &__btns {
      display: flex;
      gap: rem(24);

      @media (max-width: $tablet) {
        gap: rem(10);
      }
      @media (max-width: $mobile) {
        display: none;
      }

      &-item {
      }
    }

    &__burger {
      display: none;

      @media (max-width: $mobile) {
        display: flex;
      }
    }
  }

  &-mobile {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(12) rem(20) rem(20);
    justify-content: space-between;
    background-color: cl(whte);
    border-radius: rem(16) rem(16) 0 0;

    border-left: rem(1) solid cl(bg-light);
    border-right: rem(1) solid cl(bg-light);
    border-top: rem(1) solid cl(bg-light);

    @media (max-width: $mobile) {
      display: flex;
    }

    &__item {
      gap: rem(6);
      font-size: rem(11);
      padding: 0;

      svg {
        path {
          fill: cl(main-primary);
        }
      }
    }
  }
}
