.page_top {
  margin: rem(12) 0 0;
  &__container {
  }
  &-breadcrumbs {
    display: flex;
    align-items: center;
    gap: rem(4.5);
    flex-wrap: wrap;

    a {
      text-decoration: none;
      text-decoration-skip-ink: none;
    }
  }
  &-title {
    display: flex;
    align-items: center;
    gap: rem(16);
    margin: rem(16) 0 0;

    @media (max-width: $mobile) {
      display: block;
      .btn {
        display: none;
      }
    }
  }
  &-category {
    margin: rem(32) 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: rem(16) rem(20);

    @media (max-width: $tablet) {
      gap: rem(20) rem(24);
    }

    &__item {
      display: flex;
      gap: rem(12);
      align-items: center;
      flex: 0 0 calc(33.333% - rem(13.333));
      border-radius: rem(14);
      padding: rem(8) rem(12) rem(8) rem(8);
      background-color: cl(bg-white);
      border: rem(1) solid cl(bg-white);

      transition: all $time $tr;

      @media (max-width: $tablet) {
        flex: 0 0 calc(50% - rem(12));
      }
      @media (max-width: $mobile) {
        flex: 0 0 100%;
      }

      &:hover {
        border-color: cl(additional-divider);
        color: cl(main-primary);
      }

      &-img {
        width: rem(32);
        height: rem(32);
        border-radius: rem(8);
        overflow: hidden;
      }
      &-text {
      }
    }
  }

  &-category-seals {
    margin: rem(32) 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: rem(16) rem(24);

    @media (max-width:$mobile){
      gap: rem(20) rem(10);
    
    }

    &__item {
      background-color: #fff;
      flex: 0 0 calc(20% - rem(66.5));
      border-radius: rem(14);
      padding: rem(16);
      display: flex;
      flex-direction: column;
      row-gap: rem(16);
      align-items: center;
      border: rem(1) solid cl(bg-white);

      transition: all $time $tr;

      @media (max-width: $laptop){
        flex: 0 1 calc(25% - rem(18));
      }

      @media (max-width: $tablet) {
        flex: 0 1 calc(33.333% - rem(18));
      }
      @media (max-width: $mobile) {
        flex: 0 1 calc(50% - rem(5));
        padding: rem(12);
      }
      &:hover {
        border-color: cl(additional-divider);
        color: cl(main-primary);
      }
    }

    &__item-img {
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    &__item-text {
      font-weight: 500;
      color: var(--text-secondary)
    }
  }
}
